.icon-website-f {
    width: 12px;
    height: 21px;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
    background-color: transparent;
}

.icon-website-tweet {
    height: 21px;
    width: 21px;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
}