.mainMenu__post-image {
    margin: 0;
    padding: 0;
    width: 765px;
    height: 510px;
}

.mainMenu__post-image_another-post {
    height: 575;
}

@media screen and (max-width: 765px) {
    .mainMenu__post-image {
        width: 565px;
        height: 410px;
    }
}

@media screen and (max-width: 560px) {
    .mainMenu__post-image {
        width: 530px;
        height: 340px;
    }
}

@media screen and (max-width: 530px) {
    .mainMenu__post-image {
        width: 450px;
        height: 290px;
    }
}

@media screen and (max-width: 450px) {
    .mainMenu__post-image {
        width: 425px;
        height: 270px;
    }
}

@media screen and (max-width: 425px) {
    .mainMenu__post-image {
        width: 400px;
        height: 280px;
    }
}