.tags__link-button {
    margin: 0;
    padding: 0;
    height: 18px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f2f4f6;
    color: #ed2126;
    margin-right: 17px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.tags__link-button:last-child {
    margin-right: 0px;
}

.tags__link-button:hover {
    transition-duration: .4s;
    background-color: #ffc5c5;
}