.sideBar__menu-footer_links {
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}