.tags__buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 710px) {
    .tags__buttons-container {
        display: none;
    }
    }