.sideBar__menu-list_link {
    width: 100%;
    display: block;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.428571429;
    color: black;
    cursor: pointer;
}

.sideBar__menu-list_link:hover {
    color: #ed2126;
}