.sideBar__menu-footer_links-icon {
    width: 25px;
    height: 17px;
    text-decoration: none;
}

.sideBar__menu-footer_links-icon_size {
    width: 20px;
}

.sideBar__menu-footer_links-icon_margin {
    margin-left: 15px;
}