.header__popup-content-first{
    display:none;
    position: absolute;
    width: 1050px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%); 

    padding: 30px 30px;
    margin: 0 auto;
    z-index: 12;
    background: #fff;
    box-shadow: 0 8px 16px rgba(170,170,170,.29);
    border-radius: 4px 4px;
    max-height: calc(100vh - 48px);
    overflow-y: auto;
    font-family: "Poppins";
    font-weight: bold;
  }

 .header__navigation-element-dropDownMenuFirst:hover .header__popup-content-first{
    display: block;
}

@media screen and (max-width: 1145px) {
  .header__popup-content-first {
      width: 900px;
  }
}

@media screen and (max-width: 987px) {
  .header__popup-content-first {
      width: 700px;
  }
}

@media screen and (max-width: 765px) {
  .header__popup-content-first {
      width: 400px;
      height: 300px;
  }
}

@media screen and (max-width: 465px) {
  .header__popup-content-first {
      width: 340px;
      height: 400px;
  }
}
