.mainMenu__writer-status {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #ed2126
}

.mainMenu__writer-status_size {
    font-size: 18px;
}

@media screen and (max-width: 710px) {
    .mainMenu__writer-status {
        font-size: 21px;
    }
}